<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Website</title>
    <link rel="stylesheet" href="static/product.css">
</head>

<body>
    <img src="">
    <div class="navbar">
        <div class="logo">
        </div>
        <ul class="navlist">
            <li><a href="index.html">Home</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="product.html">Product</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>

    </section>
    <!--product-->
    <section class="product" id="product">
        <div class="heading">
            <h2>Product popular Saya </h2>
        </div>
        <!-- container -->
        <div class="product-container">
            <div class="box">
                <img src="static/images/p3.png" alt="Arabica bali kintamani">
                <h3>Arabica bali kintamani</h3>
                <div class="content">
                    <span>$70</span>
                    <!-- Add to cart button/link -->
                    <a href="#" class="buy-btn">Add to Cart</a>
                    <!-- Checkout button/link -->
                    <a href="#" class="checkout-btn">Checkout</a>
                </div>
            </div>
            <div class="box">
                <img src="static/images/p4.jpg.webp" alt="Arabica gayo">
                <h3>Arabica gayo</h3>
                <div class="content">
                    <span>$50</span>
                    <!-- Add to cart button/link -->
                    <a href="#" class="buy-btn">Add to Cart</a>
                    <!-- Checkout button/link -->
                    <a href="#" class="checkout-btn">Checkout</a>
                </div>
            </div>
            <div class="box">
                <img src="static/images/p5.jpg.webp" alt="kopi lampung">
                <h3>kopi lampung</h3>
                <div class="content">
                    <span>$60</span>
                    <!-- Add to cart button/link -->
                    <a href="#" class="buy-btn">Add to Cart</a>
                    <!-- Checkout button/link -->
                    <a href="#" class="checkout-btn">Checkout</a>
                </div>
            </div>
            <div class="box">
                <img src="static/images/abc.jpg (1).webp" alt="robusta gayo natural">
                <h3>Robusta gayo natural</h3>
                <div class="content">
                    <span>$80</span>
                    <!-- Add to cart button/link -->
                    <a href="#" class="buy-btn">Add to Cart</a>
                    <!-- Checkout button/link -->
                    <a href="#" class="checkout-btn">Checkout</a>
                </div>
            </div>
            <div class="box">
                <img src="static/images/p7.jpg.webp" alt="Americano pure">
                <h3>Americano pure</h3>
                <div class="content">
                    <span>$70</span>
                    <!-- Add to cart button/link -->
                    <a href="#" class="buy-btn">Add to Cart</a>
                    <!-- Checkout button/link -->
                    <a href="#" class="checkout-btn">Checkout</a>
                </div>
            </div>
            <div class="box">
                <img src="static/images/p8.png.webp" alt="Robusta toraja">
                <h3>Robusta toraja</h3>
                <div class="content">
                    <span>$90</span>
                    <!-- Add to cart button/link -->
                    <a href="#" class="buy-btn">Add to Cart</a>
                    <!-- Checkout button/link -->
                    <a href="#" class="checkout-btn">Checkout</a>
                </div>
            </div>
            <div class="box">
                <img src="static/images/p9.jpg.webp" alt="Oplet">
                <h3>Oplet</h3>
                <div class="content">
                    <span>$85</span>
                    <!-- Add to cart button/link -->
                    <a href="#" class="buy-btn">Add to Cart</a>
                    <!-- Checkout button/link -->
                    <a href="#" class="checkout-btn">Checkout</a>
                </div>
            </div>
            <div class="box">
                <img src="static/images/p10.jpg.webp" alt="Kopi ABC">
                <h3>Kopi ABC</h3>
                <div class="content">
                    <span>$10</span>
                    <!-- Add to cart button/link -->
                    <a href="#" class="buy-btn">Add to Cart</a>
                    <!-- Checkout button/link -->
                    <a href="#" class="checkout-btn">Checkout</a>
                </div>
            </div>
            <div class="box">
                <img src="static/images/p13.webp" alt="Kopi Hitam">
                <h3>Kopi Hitam</h3>
                <div class="content">
                    <span>$30</span>
                    <!-- Add to cart button/link -->
                    <a href="#" class="buy-btn">Add to Cart</a>
                    <!-- Checkout button/link -->
                    <a href="#" class="checkout-btn">Checkout</a>
                </div>
                </div>
                <div class="box">
                    <img src="static/images/p14.png.webp" alt="Kopi Gold">
                    <h3>Kopi Gold</h3>
                    <div class="content">
                        <span>$98</span>
                        <!-- Add to cart button/link -->
                        <a href="#" class="buy-btn">Add to Cart</a>
                        <!-- Checkout button/link -->
                        <a href="#" class="checkout-btn">Checkout</a>
                    </div>
                    </div>
                    <div class="box">
                        <img src="static/images/p15.jpg.webp" alt="Ginseng Koffe">
                        <h3>Ginseng Koffe</h3>
                        <div class="content">
                            <span>$100</span>
                            <!-- Add to cart button/link -->
                            <a href="#" class="buy-btn">Add to Cart</a>
                            <!-- Checkout button/link -->
                            <a href="#" class="checkout-btn">Checkout</a>
                        </div>
                        </div>
                        <div class="box">
                            <img src="static/images/p16.jpg.webp" alt="Jamago Signature">
                            <h3>Jamago Signature</h3>
                            <div class="content">
                                <span>$105</span>
                                <!-- Add to cart button/link -->
                                <a href="#" class="buy-btn">Add to Cart</a>
                                <!-- Checkout button/link -->
                                <a href="#" class="checkout-btn">Checkout</a>
                            </div>
                                </div>
                                
        </div>
    </section>

</body>

</html>